.navigation {
    background: #2196f3;
    padding: 20px;
    
}

.navigation a{

    padding: 10px 40px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.parentbox {
    width: 80%;
    overflow: hidden;
    margin: auto;
}

 .Logo{
     width: 30%;
    float: left;
    font-size: 18px;
    font-weight: bold;
    color:rgb(243, 243, 243);

}

.Link{
    margin-top: 10px;
    width: 30%;
    float: right;
  margin-right: 0px;
}
