.SectionTitle{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #4a4a4a;
}

.Post{
    display: flex;
    border: 1px solid rgba(0,0,0,0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
    
}


.img-thumb{
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb img{
    object-fit: cover;
}

.Content{
    flex: 1;
}

.Content p.title{
    margin:0px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
    margin-bottom: 16px;
}

.Content p.desc{
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}

.Content p.title:hover{
    color: #1b2338;
    cursor: pointer;
}

.Remove{
    padding: 12px 18px;
    background-color: white;
    color: tomato;
    border-radius: 6px;
    outline: none;
    margin-top: 18px;
    border: 1px solid tomato;
}
.Update{
    padding: 12px 18px;
    background-color:white ;
    color: teal;
    border-radius: 6px;
    outline: none;
    margin-top: 18px;
    margin-right: 20px;
    border: 1px solid teal;
}
.Update:Hover {
    background-color: teal;
    color: white;
    cursor: pointer;
    
}
.Remove:hover  {
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.FormAddPost{
    box-shadow: 0px 0px 16px rgba(0,0,0,0.5);
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
}

.FormAddPost label{
    display: block;
    font-size: 14px;
    color: #3d4a6e;
    font-weight: bold;
    margin-bottom: 10px;
}

.FormAddPost input , .FormAddPost textarea{
    outline: none;
    border: 1px solid #607D8B ;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607D8B;
}

button.btn-submit{
    outline: none;
    border: 1px solid #2196F3;
    padding: 10px 30px;
    border-radius: 4px;
    color: #2196f3;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button.btn-submit:hover{
    background-color: #166aaf;
    color: whitesmoke;
    cursor: pointer;
}

.Form{
    float: left;
    width: 45%;
}

.Data{
    width: 50%;
    overflow: hidden;
    float: left;
    margin-left: 30px;
}

.Parentbox {
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}
.Form .ket{
font-size: small;
color: #607D8B;
}