.parentbox .p-detail-post{
    padding: 20px;
    float: left;
    width: 45%;
}

.detail-title{
    font-size: 36px;
    font-weight: bold;
    color:rgb(5, 5, 121);
}

.textcounter{
    font-size: 18px;
    font-weight: lighter;
    color:rgb(5, 5, 121);
    margin-top: 30px;
    margin-bottom: 0px;
}

.detail-body{
    font-size: 20px;
    color: rgb(2, 2, 32);
}

.parentbox .img-thumb{
    width: 280px;
    height: 360px;
    margin-right: 20px;
   
    overflow: hidden;
    float: left;
}

.img-thumb img{
    
    object-fit: cover;
}

.parentbox {
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;

}
