.parentbox {
    width: 80%;
    overflow: hidden;
    margin: auto;
    margin-top: 50px;
}

.title{
    font-size: 36px;
    font-weight: bold;
    color:rgb(5, 5, 121);
}

.body{
    font-size: 20px;
    color: rgb(2, 2, 32);
}